body{
    background-color: rgba(41, 122, 122, 0.678);
}
img{
    
    height: 300px;
    width:300px;
    margin: 50px;
}
img:hover{
    box-shadow:-10px -10px 30px 10px rgb(2, 3, 3);
    height:298px;
    width:298px;

}
ul li {color: aliceblue;
    display: inline;
    list-style-type: none;
    margin: 10px;
    float: center;
    padding: 10px;
}
nav ul {display: block;
    background-color: rgb(0, 0, 0);
    height: 35px;
    width: 100%;
}